<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @posts.each do |blog| %>
  <tr>
    <td><%= post.content %></td>
  </tr>
<% end %>
</table>

<%= link_to 'つぶやき投稿へ', new_post_path %>