// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  min-height: 1vh;
}

header {
  background-color: #637070;
  height: 60px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;
}

.header-logo {
  float: left;
  padding-left: 20px;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.header-menus {
  float: right;
  padding-right: 20px;
  list-style-type: none;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.japanese-paper {
  clear: both;
  background-image: url(japanese-paper.jpg);
  background-size:  cover;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-logo {
  background-color: #637070;
  height: 55px;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
}

.footer-logo li {
  list-style-type: none;
  text-align: center;
  color: white;
  line-height: 64px;
}